@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tab-Ulator</h1>
    <p class="lead">Raumüberwachugn dank der Tab-Ulator GmbH & co kg </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Latein</h2>
        <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
            sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna aliquyam erat, sed diam voluptua. At vero eos et accusam
            et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
            ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam 
            erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
            sanctus est Lorem ipsum dolor sit amet.
        </p>
        <p><a class="btn btn-default" href="https://google.de">Google &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Text</h2>
        <p>Text</p>
        <p><a class="btn btn-default" href="">Link &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Text</h2>
        <p>Text</p>
        <p><a class="btn btn-default" href="">Link &raquo;</a></p>
    </div>
</div>